APP_NAME="lists-service"
APP_ENV=local
APP_KEY=base64:GT6dWySpXiNjPLjE+QKBoXMobTWStJekdlRl52iFTBw=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC
APP_PORT=9000

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=x3microservices-lists-service-mysql # service name in the Docker compose setup
DB_PORT=3306 # The MySQL port inside the container (3306)
DB_DATABASE=x3microservices_lists_service_database
DB_USERNAME=user
DB_PASSWORD=password

CACHE_DRIVER=file

API_GATEWAY_SECRETS=0101
