MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=x3microservices_lists_service_database
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_PORT=3306
MYSQL_ALLOW_EMPTY_PASSWORD=false
MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_ROOT_HOST=localhost
